{% extends 'base.html.twig' %}


{% block body %}
<style>
</style>

<h1>{{ title }}</h1>

<hr>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Louvre_Museum_Wikimedia_Commons.jpg/1280px-Louvre_Museum_Wikimedia_Commons.jpg" alt="museedulouvre">

<hr>

<p>{{ content }}</p>

{% endblock %}
